.container {
  padding: 16px;
  background-color: #fff;
  .nameInput {
    &.show {
      opacity: 1;
      transition: all 300ms;
    }

    &.hide {
      pointer-events: none;
      opacity: 0;
    }
  }

  .greeting {
    opacity: 0;
    transition: all 100ms;
    text-align: center;

    &.show {
      opacity: 1;
      transition: all 300ms;
    }

    &.hide {
      pointer-events: none;
      transition-delay: 600ms;
    }
  }
}
