.container {
  margin-top: 8px;

  .card {
    display: flex;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 8px;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0, 0, .5, 1);

    &:hover {
      transform: scale(1.02);
    }

    .deleteBtn {
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
  }
}